/* ==================== VARIABLES ==================== */
:root {
    --color-fondo: #0f1724;
    --color-texto: #fff;
    --color-acento: #c24c4c;
    --color-secundario: #1e293b;
    --color-hover: #ef4444;
}

/* ==================== RESETEO ==================== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--color-fondo);
    color: var(--color-texto);
}

/* ========================================================= */
/* ====================== ENCABEZADO ======================== */
/* ========================================================= */
header {
    width: 100%;
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}

.logo {
    font-size: 2em;
    color: var(--color-acento);
}

.navigation .a1 {
    position: relative;
    font-size: 1.1em;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

/* ======== SUBRAYADO AL PASAR ======== */
.navigation .a1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.navigation .a1:hover::after {
    transform: scaleX(1);
}

/* ======== BOTÓN LOGIN ======== */
.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    margin-left: 20px;
    border: 2px solid white;
    background: transparent;
    border-radius: 6px;
    color: #000000;
    cursor: pointer;
    transition: 0.5s;
    font-size: 20px;
}

.navigation .btnLogin-popup:hover {
    background: transparent;
    color: #162938;
}
.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #000000;
}

.navigation .a1{
    color: white;
    text-decoration: none;
}
.navigation #LOGIN{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
}

.navigation #LOGIN:hover{
    color: rgb(0, 0, 0);
    text-decoration: none;
}


/* ==================== MÚSICA ==================== */
.musica {
    text-align: center;
    margin: 20px 0;
}

.musica audio {
    margin-top: 10px;
}

/* ========================================================= */
/* ======================= CARRUSEL ========================= */
/* ========================================================= */
.carrusel {
    width: 100%;
    overflow: hidden;
    height: 50vh;
    position: relative;
}

.carrusel ul {
    display: flex;
    width: 600%;
    height: 100%;
    animation: slide 25s infinite alternate ease-in-out;
}

.carrusel li {
    list-style: none;
    width: 100%;
}

.carrusel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ======== ANIMACIÓN DE CARRUSEL ======== */
@keyframes slide {

    0%,
    20% {
        margin-left: 0;
    }

    25%,
    45% {
        margin-left: -100%;
    }

    50%,
    70% {
        margin-left: -200%;
    }

    75%,
    100% {
        margin-left: -300%;
    }
}

/* ==================== SECCIONES DE PLATAFORMAS ==================== */
.plataformas {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px;
    flex-wrap: wrap;
}

.card {
    width: 30%;
    min-width: 250px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 10px;
    transition: transform 0.3s;
    cursor: pointer;
    color: #fff;
}
.card img{
    width: 100%;
}
.card a{
    color: white;
    text-decoration: none;
}

.card.pc {
    /* background: linear-gradient(135deg, #060606, #f61010); */
    background: url(MAIN_MENU/IMG_P/PC_1.jpeg);
    background-size: cover;
}

.card.ps {
    background: url(MAIN_MENU/IMG_P/playstation.jpg);
    background-size: cover;

}

.card.nintendo {
    background: url(MAIN_MENU/IMG_P/NINTENDO.jpg);
    background-size: cover;
}

.card:hover {
    transform: scale(1.05);
}

/* ==================== CARRUSEL PEQUEÑO ==================== */
.recomendados {
    padding: 20px 40px;
    text-align: center;
}

.mini-carrusel {
    display: grid;
    gap: 15px;
    padding-top: 10px;
    grid-template-columns: repeat(
        auto-fit,minmax(150px,1fr)
    );
}

.mini-carrusel img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s;
}

.mini-carrusel img:hover {
    transform: scale(1.1);
}

/* ==================== FOOTER ==================== */
footer {
    background: transparent;
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
    color: #ccc;
    margin-top: 20px;
}
.Integrantes a{
    margin-top: 20px;
    color: var(--color-acento);
    text-decoration: none;

}


footer a:hover {
    text-decoration: underline;
}


/* ==================== RESPONSIVO ==================== */
@media (max-width: 800px) {
    .plataformas {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
    }

    .carrusel {
        height: 250px;
    }
}




/* ======== MENÚ RESPONSIVO ======== */
#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-icon img {
    width: 30px;
    height: auto;
}


/* ========================================================= */
/* ===================== RESPONSIVE HEADER ================= */
/* ========================================================= */
@media (max-width: 900px) {
    .menu-icon {
        display: block;
        z-index: 1001;
        cursor: pointer;
        position: relative;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 96px;
        right: 0;
        background: var(--color-fondo);
        border-radius: 0 0 0 10px;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        align-items: center;
        gap: 15px;
        z-index: 999;
        width: 200px;
        border-left: 1px solid white;
        border-bottom: 1px solid white;
    }
    /* LOS A1 */
    .navigation .a1 {
        font-size: 20px;
        padding: 10px 0;
        margin-left: 0;
    }
    .navigation .btnLogin-popup {
        width: 100px;
        margin: 20px;
        text-align: center;
    }

    #menu-toggle:checked~.navigation {
        max-height: 500px;
        opacity: 1;
    }
}




.musica{
    background-color: var(--color-acento);
    width: 100px;
    padding: 5px;
    border-radius: 10px;
    margin-left: 20px;

}

#btnMusica{
    background-color: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    border: 1px solid var(--color-acento);
    cursor: pointer;
    transition: 0.6s;

}

#btnMusica:hover{
    background-color: #ccc;
    border-radius: 5px;
}

